*~
\#*\#
*.elf*
*.gba
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.DS_Store
.dir-locals.el
*.a
BlindJump
logfile.txt
save.dat
*.aseprite
*.ase
*.aup
a.out
*.pdb
*.ilk
*.user
Debug
Release
*.dll
*.lib
*.exp
.vs
*.vcxproj
*.vcxproj.filters
*.sln
*.sav
*.o
build/*.png
build/psp/*.c